<%- @page_title = "Administrative Roles" -%>

<div class="page-header">
  <h2><%= @page_title %></h2>
</div>

<div class="row">
  <div class="col-md-12">
    <%- AdminRole.order(:applabel).group(:applabel).count.keys.each do |applabel| -%>
      <h3><%= applabel.capitalize %></h3>
      <%- personlist = Person.joins(:admin_roles).where("admin_roles.applabel = ?",applabel).order(:last_name) -%>
      <table class="table table-striped">
      <%- personlist.each do |p| -%>
        <tr><td><%= link_to_person(p) -%></td></tr>
      <%- end -%>
      </table>
    <%- end -%>
  </div>
</div>
