<%- @page_title = "People" -%>

<div class="row">
  <div class="span8">
    <h1>Find Colleagues</h1>

    <% if(Person.pendingreview.count >= 1) %>
    <h2>Colleague waiting on review?</h2>
    <p><%= link_to("Browse the list of colleagues pending review.", '#')%> If you know that a colleague has signed up for an eXtensionID and is waiting for review, you can vouch for them.</p>
    <% end %>

    <h2>Colleague not found?</h2>

    <p><%= link_to("Invite your colleague to get an eXtensionID", '#')%>. You just need to know your colleague's email address.  You can also <%= link_to("browse existing invitations", '#')%>.</p>
  </div>
</div>

