<div class="row">
  <div class="col-md-12">


    <%- if current_person.account_status == Person::STATUS_REVIEW -%>
      <div class='alert alert-warning'>
        <a class='close' data-dismiss="alert" href='#'>×</a>
       <h4>Your account is currently waiting for an account review.</h4>
       <p>Learn more about <%= link_to("account reviews", accounts_review_path)%>, including how you can speed up the process.</p>
      </div>
    <%- elsif current_person.present_tou_interstitial? -%>
      <div class='alert alert-warning'>
        <a class='close' data-dismiss="alert" href='#'>×</a>
       <h4>You have not yet accepted the eXtension Terms of Use.</h4>
       <p>Learn more about the <%= link_to("eXtension Terms of Use", accounts_tou_notice_path )%></p>
      </div>
    <%- end -%>

    <%- if((current_person.communities.institutions.nil?) or (current_person.position.nil?) or (current_person.location.nil?)) -%>
      <div class='alert alert-info'>
        <a class='close' data-dismiss="alert" href='#'>×</a>
         <h4>You haven't told us about your institution, location, and position.</h4>
         <p>Help us to serve you better and <%= link_to("edit your profile", edit_person_path(current_person)) %> with this additional information.</p>
      </div>
    <%- end -%>
  </div>
</div>
