<%- @page_title = "eXtension - On Hold" -%>

<div class="row">
  <div class="span12">
    <h2>Your account is on hold</h2>
    <%= explain_pending_status(current_person.account_status) %>
  </div>
</div>


