<%- @page_title = "Google Groups" -%>

<div class="page-header">
  <h2><%= @page_title %></h2>
</div>

<div class="row">
  <div class="col-md-12">
    <p>The following google groups and their communities are implemented at google</p>
    <table class="table table-striped">
      <thead>
        <tr>
        <th>Name</th>
        <th>Forum Link</th>
        <th>Community</th>
        <th>eXtension Google Account Members?</th>
        </tr>
      </thead>
      <tbody>
    <%- GoogleGroup.includes(:community).order("use_extension_google_accounts DESC, group_name").each do |gg| -%>
      <tr>
        <td>
          <%= gg.group_name -%>
        </td>
        <td>
          <%= link_to(gg.group_key_for_api,gg.forum_url) -%>
        </td>
        <td><%= link_to_community(gg.community) -%></td>
        <td align="center">
          <%- if gg.use_extension_google_accounts? -%>
            <i class='fa fa-check'></i>
          <%- else -%>
            &nbsp;
          <%- end -%>
        </td>
      </tr>
    <%- end -%>
    </table>
  </div>
</div>
