li.community {margin-bottom: .65em; border-bottom:1px solid #eee;}
li.community span {color:#999;float:right;font-size:.95em;}

ul.community_numbers li {margin:0 0 .5em;clear:both; line-height:1.5em;}
ul.community_numbers li span {text-align:right; width:2em; display:block; float:left; padding-right:.5em;}

dl.community dd.type {font-style: italic; color: #777; margin-bottom: .25em;}
dl.community dd.description {margin-bottom: 1em;}

.dashmodule {
  border: 2px solid #ddd;
  margin-bottom:2.5em;
  padding:1.5em;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}


.connections {
  border: 1px solid #ddd;
  margin-bottom:.25em;
  padding:.25em;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.community-description {font-size:16px;}
.community-masthead {
  height: 340px;
  /*width: 920px;*/
  margin-bottom:20px; position:relative;
  overflow: hidden;
  /*outline:1px solid lime;*/
text-align:center;}
.community-masthead img {margin:auto; margin:0 -100%;}
.community-masthead h2 {padding: 20px; position: absolute; bottom: 0; color:#fff; text-shadow:0 0 10px rgba(0,0,0,.8); font-weight:normal; text-align:left;}

.community-public-description {font-size: 17px; color: #888;}
.community-masthead.community-masthead-preview img {
width: 100%;
position: absolute;
top: -9999px;
bottom: -9999px;
left: -9999px;
right: -9999px;
margin: auto;
}

.person-profile-name {text-align:center;}
.person-profile-title {text-align:center; margin-bottom: 6px;}
.person-profile-institution {text-align:center; font-size: 13px; color: #666; line-height: 1.1em;}

.community-name {width: 65%; font-weight: normal; margin-bottom: 20px;}
#connectiontocommunity {width: 30%; float:right;
  /*border: 1px solid lime; */
  text-align:right;}
.community-attributes {background: #f5f5f5; padding: 10px 20px; color: #666; margin-bottom:20px;}
.no-description {font-size: 21px; color: #999; display:block; padding: 30px 0 30px 0;}
.page_entries_info {padding: 10px; color: #666;}
#public .community-name {display:none;}
.related-links h4 {font-weight:normal; margin-bottom:4px; font-size:17px;}
.related-links p {line-height:1.2em; font-size:13px;}
.dashmodule .person-profile {width: 80px;
  /*border:1px solid lime; */
  float:left; padding:0 10px; }
.dashmodule .person-profile-name,
.dashmodule .person-profile-title {font-size: 13px;}
.home-member-count {display: block; float:left; width: 60px; text-align:center;}
.dashmodule .person-profile-avatar {margin:0;}
.theres-more {display: block; font-size: 13px; line-height:14px;
  /*border: 1px solid lime; */
  width: 60px;  height:60px; display: flex;
  align-items: center; text-align:center;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      background:#f3f3f3;
}
.med-number {display:block; width: 60px; font-weight:normal; font-size: 14px;
  /*border: 1px solid red;*/
   }
.home-member-tease {clear:both;
  /*border-bottom:1px solid #ccc;*/
}
.clearing {clear:both;}
