li.community {margin-bottom: .65em; border-bottom:1px solid #eee;}
li.community span {color:#999;float:right;font-size:.95em;}

ul.community_numbers li {margin:0 0 .5em;clear:both; line-height:1.5em;}
ul.community_numbers li span {text-align:right; width:2em; display:block; float:left; padding-right:.5em;}

dl.community dd.type {font-style: italic; color: #777; margin-bottom: .25em;}
dl.community dd.description {margin-bottom: 1em;}

.dashmodule {
  border: 2px solid #ddd;
  margin-bottom:2.5em;
  padding:1.5em;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
}


.connections {
  border: 1px solid #ddd;
  margin-bottom:.25em;
  padding:.25em;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.community-description {font-size:1.1em;}
.community-masthead {
  height: 340px;
  /*width: 920px;*/
  margin-bottom:20px; position:relative;
  overflow: hidden;
  /*outline:1px solid lime;*/
text-align:center;}
.community-masthead img {margin:auto; margin:0 -100%;}
.community-masthead h2 {padding: 20px; position: absolute; bottom: 0; color:#fff; text-shadow:0 0 10px rgba(0,0,0,.8); font-weight:normal; text-align:left;}

.community-public-description {font-size: 17px; color: #888;}
.community-masthead.community-masthead-preview img {
width: 100%;
position: absolute;
top: -9999px;
bottom: -9999px;
left: -9999px;
right: -9999px;
margin: auto;
}

.person-profile-name {text-align:center;}
.person-profile-title {text-align:center; margin-bottom: 6px;}
.person-profile-institution {text-align:center; font-size: 13px; color: #666; line-height: 1.1em;}
