#main {
  background: white;
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Footer
-------------------------------------------------- */

.footer {
  text-align: center;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  margin: 0px auto;
  padding: 20px;
}

footer ul li a {color:#666;}
footer ul li a:hover {color:#000;}

#app_location.demo {background:#FFDC50; padding:.5em 1em .1em;}
#app_location.demo p {font-size:1.1em; color:#000;}
#app_location.demo p a {color:#000; text-decoration:underline;}

#app-location.dev {background:#FFDC50; padding:.5em 1em .1em; width: 14em; position:absolute; z-index:100;}
#app-location.dev p {font-size:13px; color:#000;}

#admin_banner {background:#E42020; padding:.5em 1em .1em;}
#admin_banner p {font-size:1.1em; color:#FFF; text-align: center;}
#admin_banner p a {color:#FFF; text-decoration:underline;}


a.status_icon {color:#000;}
a:hover.status_icon {color:#0088cc;}

#shared-navtabs {margin-bottom:20px;}

/* reimpliment badge colors. Add size.  */
.badge-success {background-color:#5cb85c;}
.badge-warning {background-color:#f0ad4e;}
.badge-lg {font-size: 14px; font-weight: normal;}

.color-light-gray {color:#bbb;}
.mono {font-family: Menlo, Monaco, Consolas, "Courier New", monospace;}


.people-logo {height: 60px;}
.color-white {color:#fff;}
.color-gray {color:#999;}
.fa-gray {color: #bbb;}

.people-header {margin-bottom:0;}
.page-footer {padding-top:20px;}
.cursor {cursor:pointer;}
.masthead-search {
  /*outline: 1px solid #bbb;*/
  float:right;
width: 24em;
padding: 0 10px;}
.masthead-search form { clear:left;display:block; margin-bottom:10px;}
.masthead-logo {float:left;}
.services-module {margin-bottom:40px; float: left;
  /*border: 1px solid #ccc; */
  width: 45%; margin-right:5%;}
.services-module h3 {font-size:24px;}
.services-module p {font-size: 14px;}
.services-module p a {font-size: 16px;}
.services-module img {width: 100%; padding: 10px 40px;}
.institution-list li {padding:3px 0; font-size: 15px;
  /*outline: 1px solid red;*/
}
.people-home-subhead {font-size:30px; font-weight:normal; color: #f47B28;}
