#masthead {padding-top: 20px; padding-bottom: 20px;}

tr.retired a.person {color: #A0A0A0;}
tr.retired {color: #A0A0A0;}

tr.inactive {color: #000000;}

.biography {display: block;}

.social_network_link {white-space: nowrap;}

.interests li a {text-decoration:none; background:#f2f2f2;}
.interests li a:hover {text-decoration:none; background:#003ba1; color:#fff;}

.person-biograhy {font-size:1.1em;}

.community-masthead {height: 340px; margin-bottom:20px; position:relative;}
.community-masthead h2 {padding: 20px; position: absolute; bottom: 0;}
.fa-gray {color: #bbb;}
/*.community-masthead img {width: 100%;}*/
.community-public-description {font-size: 17px; color: #888;}
.person-profile {
  /*border: 2px solid #eee;*/
  padding: 10px; margin-bottom:10px;}
.person-profile-avatar {
  /*outline:1px solid lime;*/
  /*padding: 3em;*/
  margin:10px 3em 20px;
  text-align:center;

}
.person-profile-avatar.show-profile {
  margin:10px 20px 20px 0;
  text-align:left;
  float:left;
}
.person-profile-avatar img {
  width: 100%;
  height: 100%;
  max-width: 180px;
  max-height: 180px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
.person-profile-name {text-align:center;}
.person-profile-title {text-align:center;}
.person-profile-social-icons {text-align: center;}
#public .container {max-width:960px;}
#public .people-logo {margin-top: 20px;}

/*.avatar {background:#aaa; margin-right:0.6em; float:left; border:1px solid #fff;}*/
.preview_avatar {background:#aaa; margin-right:0.6em; border:1px solid #fff; height:100px; }
.footer-shortcuts-header {color:#fff; padding: 30px 20px 10px 20px ; font-size: 20px; background: #888; margin-bottom:0; font-weight:normal;}
.copyright {color: #888;}
.mobile-nav-link {display: none;}
.larger {font-size:16px;}
