<table class="table table-bordered table-striped">
  <thead>
    <tr>
    <th>Name</th>
    <th>eXtensionID</th>
    <th>Email</th>
    <th>Institution</th>
    <th>Other Affiliation</th>
    <th>Location</th>
    <th>Connection</th>
    <%- if (current_person.can_edit_community?(@community) or current_person.can_invite_others_to_community?(@community)) -%>
    <th>Actions</th>
    <%- end -%>
    </tr>
  </thead>

  <tbody>
  <%- for person in @connections -%>
    <tr id="connection_row_<%= person.id %>">
      <%= render(:partial => 'community_connections_table_row', :locals => { community: @community, person: person}) %>
    </tr>
  <%- end -%>
  </tbody>
</table>