<%- @page_title = "Community Edit - #{@community.name}" -%>

<%= render(:partial => 'community_nav') %>

<div class="page-header">
  <h2>Edit settings</h2>
</div>

<div class="row">
  <div class="col-md-8">
    <%= render(partial: 'edit_form') %>
  </div>
</div>
