<%- @page_title = "Find Communities" -%>

<div class="page-header">
  <h2><%= @page_title %></h2>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render(:partial => 'communities/find_form') %>
  </div>
</div>

<%- if !@found_communities.blank? -%>
<div class="row">
  <div class="col-md-12">
    <%= render(partial: 'list', locals: {communitylist: @found_communities}) %>
  </div>
</div>
<%- end -%>