<%- @page_title = "eXtension Communities" -%>


  <h2>People Communities are now managed in Google Groups</h2>

<h3>Communities created in People had the option of being connected to Google Groups to function as a listserv. These groups were managed via the People interface.</h3>

<p>People is being decommissioned this summer and we are starting the process by removing the People interface "wrapper" and allowing all communities (groups) to be directly managed with Google Groups.</p>

<p>If you need help, please contact us at <strong>contact-us@extension.org</strong></p>

<br />
<h4>For reference, here's a list of your current Communities and Institutions</h4>
    <%- if current_person.connected_communities.count > 0 -%>

    <table class="gglist table table-bordered">

        <%- current_person.connected_communities.each do |community| -%>
            <%- if(gg = community.joined_google_group) -%>
            <tr class="connected-group">
              <td>
                <%= community.name %>
                <small>(<%= current_person.connection_with_community_expanded(community)%>)</small>
              </td>
              <td>
                <p><strong>Is a Google Group</strong></p>
              </td>
            </tr>
            <%- else -%>
            <tr>
            <td>
              <%= community.name %>
              <small>(<%= current_person.connection_with_community_expanded(community)%>)</small>
            </td>
            <td>
              <p>Not connected to Google Groups</p>
            </td>
            </tr>
            <%- end -%>


        <%- end -%>
      </table>
    <%- else -%>
      <p>You haven't yet joined or indicated an interest in any communities</p>
    <%- end -%>
