<%- @page_title = "#{@community.name}" -%>

<div class="page-header">
  <h2><%= @page_title %></h2>
  <h3>This community is private.</h3>
  <p>If you have an eXtension account, you can sign in <%= link_to("People", community_path(@community)) %> view this community.</p>
</div>
