<% @page_title = "My Profile" %>

<p>#TODO navtabs</p>

<div id="primary_column"> 

    <h1><%= current_person.fullname%></h1>
    <%= render(:partial => 'profile_information') %>
    
    <p>#TODO tags</p>    

    <p>#TODO social networks</p>    



</div>