<h4>If you didn't receive the email yet...</h4>

<p>Sometimes emails can get delayed up to a few hours. It's also possible for email to be mistakenly flagged as spam. You may want to check your Spam or Junk folders to see if it's there. This email will be from: <span class="mono"><%= Settings.email_from_name %> &lt;<%= Settings.email_from_address %>&gt;</span> with the subject: <span class="mono"><%= I18n.translate("email.subjects.email_confirmation") %></span>.</p>
