<%- @page_title = "eXtension Sign up - Missing Information" -%>

<div class="well">

<h2>Missing Information</h2>

<p>We're so sorry, the link that you clicked to confirm your email address was missing the confirmation token that we use internally to verify that you received our email to you.</p>

<p>We aren't completely sure why this happened. We would very much like to help you get your email confirmed and also to find out more information about your email client so that we can improve our confirmation process. Let us know in our support form below.</p>

<p>Please include in your description:
  <ul>
    <li>Your email address (for privacy reasons for other types of questions, it's not usually displayed to our Ask an Expert staff)</li>
    <li>The email client that you are using to read your email</li>
    <li>Uploading a screen capture of how the email looks in your email client would help us tremendously!</li>
  </ul>
</p>

<iframe width="80%" style="border:0;" src="https://ask.extension.org/widget/tracking/7ae729bf767d0b3165ddb2b345491f89533a7b7b" height="400px"></iframe>
</div>
