<%- @page_title = "eXtension Sign up - Thank you" -%>

<div class="row">
  <div class="col-md-12">
    <h2>Thanks for signing up!</h2>
    <p>In order to confirm your email address, we've just sent an email to: <code class="email"><%= current_person.email %></code></p>
    <p><span class="help">(Incorrect address? Please <%= link_to('fix it in your profile', edit_person_path(current_person))%>)</span></p>
    <p>The email should arrive within a few minutes. Once you receive it, click the "Confirm my email address" link in the email to finish the process.</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
  <%= render(:partial => 'email_help_notice') %>
  </div>
</div>

