<%- @page_title = "eXtension Sign up - Thank you" -%>

<div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="row">
      <div class="col-md-12">
        <h1>Thanks for signing up!</h1>

        <div class="alert alert-info">
        <h3>Please check your email and confirm your address</h3>
        <p>We just sent an email to: <strong class="mono"><%= current_person.email %></strong> (<%= link_to('edit', edit_person_path(current_person))%>).</p>
        <p>Please follow the instructions to confirm your email address.</p>
      </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <%= render(:partial => 'email_help_notice') %>
      </div>

      <div class="col-md-6">
        <h4>While you are waiting...</h4>
        <p><%= link_to('View your Profile',person_path(current_person), class: 'btn btn-default btn-lg') -%></p>
      </div>
    </div>

  </div>
</div>
