<%- @page_title = "eXtension Terms of Use Notice" -%>

<div class='row'>
  <div class="col-md-12">
    <div class="well">
    <%= form_tag(accounts_tou_notice_url) do -%>
      <fieldset>
        <h3>eXtension.org Terms of Use</h3>
        <%= render(partial: 'shared/tou_notice') -%>
      </fieldset>
    <%- end -%>
    </div>
  </div>
</div>
